DATABASE_URL=postgresql://postgres:postgres@localhost:5433/blacklist_db
DATABASE_URL_TEST=postgresql://postgres:postgres@localhost:5433/blacklist_test_db
STATIC_TOKEN=mi-token-secreto-estatico
JWT_SECRET_KEY=mi-jwt-secret-key

# New Relic APM
NEW_RELIC_LICENSE_KEY=<pegar-license-key-de-40-chars>
NEW_RELIC_APP_NAME=blacklist-api
NEW_RELIC_LOG=stdout
NEW_RELIC_DISTRIBUTED_TRACING_ENABLED=true
NEW_RELIC_ENVIRONMENT=development
