DATABASE_URL=postgresql://postgres:postgres@localhost:5433/blacklist_db
DATABASE_URL_TEST=postgresql://postgres:postgres@localhost:5433/blacklist_test_db
STATIC_TOKEN=mi-token-secreto-estatico
JWT_SECRET_KEY=mi-jwt-secret-key
